.container {
  width: 100%;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

.topHeader {
  width: 100%;
  height: 50px;
  background-color: black;
}

.top_header_content {
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  align-items: center;
}

.top_header_left {
  display: flex;
  gap: 15px;
  margin-left: 5px;
}

.top_header_left span {
  display: block;
  gap: 15px;
  padding-right: 15px;
  font-size: 13px;
}

.top_header_left span:not(:last-child) {
  border-right: 1px solid #fff;
}
.top_header_right {
  display: flex;
  gap: 15px;
}
.cart {
  display: flex;
  gap: 15px;
}

.middleheader {
  height: 80px;
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: space-between;
}

.middleheader .logo {
  height: 80px;
}

.middleheader .middle_left_header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.middleheader .middle_left_header .contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 900;
  color: rgb(126, 133, 146);
}

.middleheader .middle_left_header span svg {
  height: 25px;
}

.middleheader .search {
  display: flex;
  align-items: center;
}

.middleheader .search input {
  border-bottom: 1px solid #000;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  width: 250px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.bottomHeader {
  width: 90%;
  margin: 10px auto;
}

.bottomHeader ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
}

.bottomHeader ul li a {
  text-decoration: none;
  padding-bottom: 9px;
}

.bottomHeader ul li:hover a {
  border-bottom: 2px solid #000;
}

/* Body */

.container .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 25px;
  grid-gap: 15px;
  border-radius: 1px;
}

.content .content_left {
}

.content .content_left .same_filter {
  max-height: 150px;
  border: solid 1px #ccc;
  margin-top: 10px;
  list-style: none;
  padding-left: 10px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 93, 93);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.content .content_left .same_filter {
  margin: 10px 0;
}
.content .content_left .same_filter li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.content .content_left .same_filter li:hover {
  cursor: pointer;
}

.content .content_left .same_filter li span {
  margin-left: 10px;
  font-size: 15px;
}
.content .content_left .filter .label {
  font-weight: bold;
}
.content .content_left .same_filter li input {
  width: 15px;
  height: 15px;
}
.content .content_right {
}

.content .content_right .order {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.card {
  width: 24%;
  border: 1px solid #000;
  height: 450px;
}

.card .label {
}

.image_product {
  width: 100%;
  height: 300px;
}

.abv {

  display: -webkit-box;
  -webkit-line-clamp:  3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}