.div {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 500px;
    background-color: white;
    height: 60vh;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.label {
    text-align: center;
    margin-bottom: 30px;
}

.formik {
    padding: 0 40px;
}

.field {
    display: block;
    height: 35px;
    width: 100%;
    margin: 15px 0;
    padding-left: 3px;
}

.submit {
    width: 60%;
    margin: 15px auto;
    display: block;
    height: 35px;
    background-color: rgb(69, 119, 19);
    border: none;
    border-radius: 10px;
    color: white;
}

.loginOption {
    display: flex;
    gap: 15px;
    height: 35px;
}

.faceBook {
    background-color: rgb(68, 96, 173);
    color: white;
    display: block;
    width: 60%;
    border: none;
}

.email {
    background-color: rgb(126, 31, 113);
    color: white;
    display: block; width: 60%;
    height: 35px;
    border: none;
}

.loginWith {
    margin: 15px 0;
    font-size: 15px;
    display: block;
}